<a href="https://colab.research.google.com/github/Tanpopo26/Python-1/blob/main/Python_Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print numbers from 1 to 20 using a for loop.

In [ ]:
for numbers in range(1, 21):
  print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
# Using "while" loop:
number = 1
while number <= 20:
  print(number)
  number += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

2. Use a while loop to print numbers from 10 down to 1

In [ ]:
num = 10
while num >= 1:
  print(num)
  num -= 1

10
9
8
7
6
5
4
3
2
1

In [9]:
# Using "for" loop:
for num in range(10, 0, -1):
 print(num)

3. Print even numbers between 1 and 50 using a loop.

In [18]:
for num in range(1, 51):
  if num % 2 == 0:
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [22]:
num = 2
while num <= 50:
  if num % 2 == 0:
    print(num)
  num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

4. Use break to stop a loop when number = 7

In [30]:
for number in range(1, 11):
  if number == 7:
    break
  print(number)

1
2
3
4
5
6

In [33]:
number = 1
while number <= 10:
  if number == 7:
    break
  print(number)
  number += 1

1
2
3
4
5
6

6. Write a nested loop to print a multiplication table for numbers 1â€“5.

In [37]:
for i in range(1, 6):
  for j in range(1, 6):
    print(f"{i} x {j} = {i * j}")
  print(" " * 10)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25

In [39]:
i = 1
while i <= 5:
  j = 1
  while j <= 5:
    print(f"{i} x {j} = {i * j}")
    j += 1
  print("-" * 10) # Add a separator for clarity
  i += 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------